@import '../../node_modules/bootstrap/scss/bootstrap.scss';


.logo {
    width: 180px;
}

.nav-pills .nav-link.active{
    background-color: $yellow;
    color: $dark;
}

.card{
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.1); 
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.1);


    .imgCard{
        width: 85%;
        margin: 0 auto;
    }

    .card-title{
        text-align: center;
        text-transform:capitalize;
    }

    .card-body{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card-text{
        padding: 0 0.5rem;
    }
}

.paginationBox{
    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        li > a{
            color: white;
            background-color: #212529;
            margin: 0.5rem 0.5rem;
            border-radius: 0.5rem;
            border: 1px solid #212529;
            &:hover{
                color: white;
                background-color: #414950;
                border: 1px solid #414950;
            }
            &:focus{
                box-shadow: none;
                color: white;
                background-color: #414950;
                border: 1px solid #414950;
            }
        }
    }
}

.page-item:first-child .page-link{
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.page-item:last-child .page-link{
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}